


<h2 *ngIf="name; else noName">hello {{ name}}!</h2>
<!-- *ngIf can use an else block with <ng-template> for fallback content. -->

<p>We are using *ngIf to toggle name or the noName ng-template. we are also using ngModel for two way binding.</p>

<input [(ngModel)]="name" placeholder="Type your name">

<button (click)="changeName()">Change to Motto</button>

<ng-template #noName>
  <h1 style="color: brown;"> No name provided</h1>
</ng-template>

<p><b>ng-container</b> could have been done the same thing we did above with *ngIf <ng-container *ngIf="SecondName; else noNameNoTag">hello {{ SecondName}}!</ng-container> </p>

<input [(ngModel)]="SecondName" placeholder="Type your 2nd name">

<ng-template #noNameNoTag>
    Nothing to see here!
</ng-template>

<p> we could also use &#64;if along with &#64;else</p>

@if (lastName) {
  <p>Hello {{ lastName }} 👋</p>
} @else {
  <p>Please enter your Last name...</p>
}