<h4>Angular directives are instructions in the DOM that tell Angular to attach a specific behavior to a DOM element or to transform the DOM element itself. There are three main types of directives in Angular:</h4>
    
    <ul>
        <li><b>Components:</b> These are directives with a template. They define a view, which is a set of screen elements that Angular can choose among and modify according to your program logic and data.</li>
        <li><b>Structural Directives:</b> These directives change the structure of the DOM by adding or removing elements. Examples include *ngIf, *ngFor, and *ngSwitch.</li>
        <li><b>Attribute Directives:</b> These directives change the appearance or behavior of an element, component, or another directive. Examples include ngClass, ngStyle, and custom attribute directives.</li>
    </ul>
